<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
  <section id="general" label="Pentaract">
    <category id="connection" label="Conexion">
      <group id="server" label="Servidor">
        <setting id="base_url" type="string" label="URL base" default="http://localhost:8000" />
        <setting id="username" type="string" label="Usuario o email" default="" />
        <setting id="password" type="string" label="Contrasena" option="hidden" default="" />
      </group>
      <group id="library" label="Exploracion">
        <setting id="show_non_video" type="boolean" label="Mostrar ficheros no video" default="true" />
      </group>
      <group id="session" label="Sesion">
        <setting id="access_token" type="string" label="Access token" default="" visible="false" />
        <setting id="token_expiry" type="string" label="Token expiry" default="0" visible="false" />
      </group>
    </category>
  </section>
</settings>
